{% extends 'partials/base.html' %}
{% load widget_tweaks %}

{% block title %}
Change Your Password Here
{% endblock title %}
{% block content %}
<div class="flex items-center justify-center py-12">
    <form action="" method="post" class="shadow-xl lg:w-[30rem]" enctype="multipart/form-data">
        {% csrf_token %}
        <p class="text-center rounded-t-lg text-slate-200 lg:p-3 bg-gray-800">Change Your Password Here!</p>
        {% if form.errors or form.non_field_errors %}
        <div class="w-full p-2 rounded-xl mb-2 bg-red-100 text-red-500">
            {% for field in form %}
                {{ field.errors }}
            {% endfor %}
            {{ form.non_field_errors }}
        </div>
        {% endif %}  
        <div class="lg:p-5">
            <label>Old Password</label><br>
            {% render_field form.old_password class="w-full lg:p-2 border rounded-lg" %} <br>
            <label>New Password</label><br>
            {% render_field form.new_password1 class="w-full lg:p-2 border rounded-lg" %} <br>
            <label>Confirm Password</label><br>
            {% render_field form.new_password2 class="w-full lg:p-2 border rounded-lg" %} <br>
            <button type="submit" class="p-2 text-white bg-blue-500 rounded-lg mt-2">Change</button>
        </div>
    </form>
</div>
{% endblock content %}